
.product-buy{
    background-color: var(--general-white);
    padding: 0 0 150px 0;
}
/* ================================================================== */

.main__opinions--extra {
    padding: 150px 0 150px 0;
}

.opinions__inner {
}
.opinions__content {
}
.opinions__title {
    font-family: "Namu Pro";
    font-weight: 900;
    font-size: 42px;
    padding-bottom: 40px;
}
.opinions__text {
    padding-bottom: 50px;
    width: 100%;
    display: block;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
}

/* ================================================================== */
@media (max-width: 1000px){
    .main__opinions--extra{
        display: none;
    }
}
@media (max-width: 700px){
    .main__navigation{
        padding: 22px 0 14px 0;
    }
    .main__navigation-link{
        font-size: 16px;
    }
    .product-buy{
        padding-bottom: 70px;
    }
    /* ================================================================== */
    
}
@media (max-width: 400px){
    .main__navigation{
        display: none;
    }
    /* ================================================================== */
    .product-buy{
        padding: 30px 0 46px 0;
    }
    /* ================================================================== */
    
}