.footer {
    background-color:var(--accent-black);
    color: var(--general-white);
    padding: 50px 0 57px;
}
.footer__inner {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    column-gap:10px ;
}
.footer__logo-link{
    
}
.footer__logo-text{
    margin-top: 25px;
    font-family: "NAMU PRO";
    font-weight: 900;
    font-size: 24px;
}
.footer__col-shop{
    grid-column: 1;
}
.footer__col-action{
    grid-column: 3;
    grid-row: 2;
}

.footer__list-title {
    font-family: "NAMU PRO";
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 20px;
}
.footer__col-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 18px;
}
.footer__col-contact{
    grid-column: 4;
    grid-row: 2;
}
.footer__col-item {
}
.footer__col-link {
    
}
.footer__col-contact > h3 {
    font-family: "NAMU PRO";
    font-weight: 900;
    font-size: 24px;
}
.footer__col-number {
    display: block;
    margin-top: 15px;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}
.socials {
    
}
.socials__list {
    display: flex;
    gap: 20px;
    margin-top: 54px;
}
.socials__item {
}
.socials__link {
}
.footer__col-copy {
    grid-column: 3 / 5;
    grid-row: 2;
    display: flex;
    align-items: end;
    line-height: 1;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 18px;
}